@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.about-body {
background-color: #ebdbf1;
    display: grid;
    grid-template-areas: "img me"
                         "img link"
;
}

.about-img {


grid-area: img;

}

.download-link {
    font-family: 'Roboto Mono', monospace;
    color: red;
    text-decoration: none;
}

.about-me {
    grid-area: me;
    color: red;
    
}
.about-title {
    display: flex;
    flex-direction: row;
    padding: 2vw;
    font-family: 'Roboto Mono', monospace;
    font-size: 7vw;
}

.about-end {
    display: flex;
    flex-direction: row-reverse;
    padding: 2vw;
    font-family: 'Roboto Mono', monospace;
    font-size: 5vw;
}

.about-detail{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  align-content: flex-start;
    flex-direction: column;
    text-align: left;
    
}

.name {
padding:0vw 1vw 1vw 1vw;
font-family: 'Roboto Mono', monospace;
}

.location {
    padding:0vw 1vw 1vw 1vw; 
    font-family: 'Roboto Mono', monospace;
}

.title {
    padding:0vw 1vw 1vw 1vw; 
    font-family: 'Roboto Mono', monospace;
}

.skills {
    padding:1vw 1vw 1vw 1vw; 
    font-family: 'Roboto Mono', monospace;
}
.about-paragraph {
    margin: 3vw 3vw 1vw 3vw;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
}

.download-link{
    grid-area: link;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 1vw;
}

.download-link-btn{
   background-color: white;
    padding: 1vw 3vw 1vw 3vw;
    
    
}