.footer {
border: 2px solid #FBFEF9;
display: flex;
justify-content: space-evenly;


}

.footer-git {
    color: #111118;


}

.footer-linked {
    color: #111118;
}

.git {
    color: #EDF6F9;
}

.linked {
    color: #EDF6F9;
}