.footer {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  max-width: 100%;
  position: relative;
  
}

.footer-git {
  color: #eb3402;
}

.footer-linked {
  color: #00249e;
}

.git {
  color: #eb3402;
}

.linked {
  color: #00249e;
}
