.footer {
border: 2px solid black;
display: flex;
justify-content: space-evenly;


}

.footer-git {
    color: #EDF6F9;


}

.footer-linked {
    color: #EDF6F9;
}

.git {
    color: #EDF6F9;
}

.linked {
    color: #EDF6F9;
}