@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.form {
    display: grid;
    grid-template-areas: "email"
                         "message"
                         "send";
    margin: 10vw;
    
}

.form-page-title {
color: #fc1577;
margin: 2vw;
padding-left: -3vw;
font-size: 10vw;
font-family: 'Bebas Neue', cursive;
margin-bottom: -150px;
}



.form-email {
grid-area: email;
padding: 2vw;
margin-left: -11.5rem;
font-family: 'Bebas Neue', cursive;

}
.form-email-input {
padding: 1vw 4.0vw;
}

.form-email-input-label {
padding: 1vw;
color: white;
}

.form-message {
grid-area: message;
font-family: 'Bebas Neue', cursive;
}
.form-message-input-label{
padding: 1vw;
color: white;
}

.form-message-input {
padding: 2vw;
}

.form-input-button {
grid-area: send;
padding: 1vw 3vw;
margin: 3vh 0vw 3vh -15rem;
font-weight: bold;
font-size: 1.5vw;
background-color: #eb3402;
border: 1px solid whitesmoke;
border-radius: 5%;
color: white;
font-family: 'Bebas Neue', cursive;
}