@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.home-border {
   
  margin: 8vh 1vw ;
   
}


.home-name {
position: relative;
font-size: 5vw;
color: rgb(235, 217, 240) ;
-webkit-text-stroke: 0.3vw  ;
text-transform: uppercase;
font-family: 'Bebas Neue', cursive;

}

.home-name::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: hotpink;
    -webkit-text-stroke: 0vw #FF101F ;
    border-right: 2px solid #FF101F;
    overflow: hidden;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 99.8%;
    }

}

.home-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
}

.home-date {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: white;
}

.home-img-div {
   width: 100%;
   height: 90vh;
   height: 130vh;
   
  
}

