@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.nav {
  border-bottom: 1px solid white;
  background-color: white;
}

.nav-case {
  display: flex;
  justify-content: space-between;
  padding: 0vw 10vw 0vw 8.5vw;
}

.other-links {
  display: flex;
  justify-content: space-around;
}

.home-link {
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 3vw;
  margin-top: -55px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #eb3402;
  position: relative;
}

.contact-link {
  margin: 3px 1.5px;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 2.5vw;
  font-weight: lighter;
  color: #00249e;
  position: absolute;
}
