@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.prj {
background-color: #111118;
padding: 1vh 6vw;
text-decoration: none;
}

.prj-title {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 10vw;
    margin-left: -50vw ;
    text-decoration: none;
}
.prj-text {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 8vw;
  
    text-decoration: none;

}
.prj-1 {
   grid-area: link1;
   float: right;
   text-decoration: none;
}



.prj-2 {
    grid-area: link2;
    text-decoration: none;
}

.prj-3 {
    grid-area: link3;
    text-decoration: none;
}

.prj-4 {
    
    grid-area: link4;
    text-decoration: none;
}
.prj-end {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 10vw;
}
.prj-links {
    display: grid;
    grid-template-areas: "link1 link2" 
                         "link3 link4";
    text-decoration: none;
}
.prj-img{
    border-radius: 50%;
    width: 20vw;
    height: 40vh;
    
}